{% extends 'base.html.twig' %}
 
{% block title %}admin aprenant{% endblock %}

{% block body %}
 
{% for projet in projets %}
<section class="articles mt-5">
    <article class="mb-5">


        <img src="{{ projet.Avatar }}" width="500px" alt="">

        <div class="content mt-3">
    
            <h1>{{ projet.Prenom }}</h1> 
            <h1>{{ projet.Nom }}</h1> 
            <h2>{{ projet.Adresse }}</h2> 
            <h2>{{ projet.ville }}</h2> 
            <h2>{{ projet.Telephone }}</h2> 
            <h2>{{ projet.email}}</h2> 
            {% if  projet.mobile == 1 %}
            <h2>oui</h2>
            {% elseif projet.mobile == 0 %}
               <h2>non</h2> {% endif %} 
            
            <h2>{{ projet.codepostal}}</h2> 
            <h2>{{ projet.competance }}</h2> 
           <a href="{{ projet.lienportfolio }}" target="_blank"> potfolio</a> <br> 
           <a href="{{ projet.liengithub }}" target="_blank"> github</a> <br>
           <a href="{{ projet.liencv}}" target="_blank"> lien cv</a> <br>  
           <h2>{{ projet.zonedemobilite }}</h2>
 
           
             
    </article>
     <a href="{{ path('projet_edit', {'id' : projet.id}) }}" class="btn btn-warning">modifier</a>
      <a href="{{ path('delete_projet', {'id' : projet.id}) }}" class="btn btn-danger">suprimer</a>
    {% else %}
    <div class="alert alert-primary" role="alert">
Vous n'avez pas encore enregistrer votre profil stagiaire sur la plate-forme
</div>
        
    {% endfor %}
    {% endblock %}