{% extends 'base.html.twig' %}
 
{% block title %}admin aprenant{% endblock %}

{% block body %}
<div class="container-fluid text-center">
<div class="row">
     <table class="table table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Prenom</th>
       
      <th scope="col">Nom</th>
      <th scope="col">Adresse</th>
      <th scope="col">ville</th>
      <th scope="col">Telephone</th>
       <th scope="col">email</th>
        <th scope="col">Mobile</th>
         <th scope="col">Code postal</th>
          <th scope="col">competance</th>
        <th scope="col">zone de moblité</th>
        <th scope="col">portfolio</th>
        <th scope="col">github</th>
        <th scope="col">cv</th>

    </tr>
  </thead>
 
{% for projet in projets %}
<section class="articles mt-5">
    <article class="mb-5">


        <img src="{{ projet.Avatar }}" width="500px" alt="">

        <div class="content mt-3">
    
            <td>{{ projet.Prenom }}</td> 
            <td>{{ projet.Nom }}</td> 
            <td>{{ projet.Adresse }}</td> 
            <td>{{ projet.ville }}</td> 
            <td>{{ projet.Telephone }}</td> 
            <td>{{ projet.email}}</td> 
            {% if  projet.mobile == 1 %}
            <td>oui</td>
            {% elseif projet.mobile == 0 %}
               <td>non</td> {% endif %} 
            
            <td>{{ projet.codepostal}}</td> 
            <td>{{ projet.competance }}</td>
            <td>{{ projet.zonedemobilite }}</td> 
          <td><a href="{{ projet.lienportfolio }}"  style="color:rgb(255,0,0);" target="_blank"> potfolio</a> </td>  
          <td><a href="{{ projet.liengithub }}"  style="color:rgb(255,0,0);" target="_blank"> github</a> </td> 
          <td><a href="{{ projet.liencv}}"  style="color:rgb(255,0,0);" target="_blank"> lien cv</a> </td>   
           
 
           
             
    <td><a href="{{ path('projet_edit', {'id' : projet.id}) }}" class="btn btn-warning">modifier</a></td>
     <td><a href="{{ path('delete_projet', {'id' : projet.id}) }}" class="btn btn-danger">suprimer</a></td> 
     
    {% else %}
    <div class="alert alert-primary" role="alert">
Vous n'avez pas encore enregistrer votre profil stagiaire sur la plate-forme
</div>
        </div>
        </div>
    {% endfor %}
    
    {% endblock %}